body {
    margin-top: 10px;
    box-sizing: border-box;
}

* {
    margin: 0%;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

div:not(:nth-child(2)) :not(:last-child, .no-need div):nth-child(3), div :not(:last-child , .no-need div , :nth-child(3)):nth-child(4){
    color: red;
}
