* {
    box-sizing: border-box;
    margin: 0px;
}

.parent {
    background-color:  #ce2949; 
    border-radius: 7px;
    margin: 20px auto;
    width: 250px;
    padding: 10px;
}
.child {
    background-color: #582841;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Georgia, serif;
    border-radius: 7px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    display: inline-block;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-position {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.circle-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}